
{% block content %}

<!DOCTYPE html>
<html>
<head>
  <title>ChatsApp</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<div class="container-fluid">
	<div class="row justify-content-center mt-5">
		<div class="col-4">
			<h1>Login</h1>
			<form method="post">
				<div class="row mb-3 justify-content-center">
					<div class="col">
						<input type="text" name="username" required class="form-control-lg" id="username" placeholder="User name">
					</div>
				</div>
				<div class="row mb-3">
					<div class="col">
						<input type="text" required name="password" class="form-control-lg" id="password" placeholder="Password">
					</div>
				</div>
				<a href="{{ url_for('login') }}"><button type="submit" class="btn btn-info">Login</button>
			</form>
		<div>
			<a href="{{ url_for('sign_up') }}"><button type="submit" class="btn btn-info">Click here to sign up</button>
		</div>
		</div>
	</div>
</div>

{% endblock %}